WALLET_PRIVATE_KEY=
NETWORK_CONFIG_PROXY_ADMIN=
NETWORK_CONFIG_FEE_RECIPIENT=
NETWORK_CONFIG_NATIVE_TOKEN_PRICE_ORACLE_ADDRESS=
NETWORK_CONFIG_NATIVE_TOKEN_PRICE_ORACLE_HEARTBEAT=36000
NETWORK_CONFIG_ACCESS_AUTHORITY_ADDRESS=